* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
}

h1, h2, p {
    color: white;
    font-family: Roboto;
    padding: 25px;

    margin: 0px;
    /* margin-left: 70%; */
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.h3 {
     font-size: x-large; 
     font-family: Roboto;
    /* justify-content: space-between; */
}

header {
    width: 100%;
    color: #141414;
}

header a {    
    text-decoration: none;
    color: white;
    display: inline-block;
    justify-content: flex-end;
}



.center {
    background-color: #141414;

}

.enredo img {
    width: 150%;
    padding: 1%;
    border-radius: 30%;
}

.enredo {
    display: flex;
}

.muralha {
    display: flex;
}

.muralha img {
    border-radius: 10%;
}

.leste img {
width: 150%;
padding: 1%;
border-radius: 30%;

}


.leste {
    display: flex;
}