h1, h2, h3, p {
    color: white;    
    font-family: Roboto;
}

.center {
    /* padding-top: 100px;
    padding-left: 30px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.center .img {
    border-radius: 1000px;
    overflow: hidden;
    align-items: flex-end;
}

.text {
    padding: 10px;
    padding-left: 17%;
}