* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}



h1, h2, h3, p {
    color: white;
    font-family: Roboto;
    padding: 50px;

    margin: 3px;

}



.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.h3 {
     font-size: x-large; 
    /* justify-content: space-between; */
}

header {
    width: 100%;
    color: #141414;
}

header a {    
    text-decoration: none;
    color: white;
    display: inline-block;
    justify-content: flex-end;

}

.center {
    display: flex;
}

.center img {
    margin: 10%;
    border-radius: 58%;
    align-items: center;
}