
.play a {
    text-decoration: none;
}

.sessao1 h3 {
    color: white;
    font-family: Roboto;
    margin-left: 100px;
}

.play h3 {
    font-family: Roboto;
    font-size: x-large;
    padding: 8px;
    color: white;
    margin-left: 6%;
    margin-top: 1px;
}



.temporada1 p{
    padding: 0px;

    /* margin-left: 13px; */
}

.temporada1 ul {

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
padding-inline: 22px;



}

.temporada1 img {
    margin: 3%;
    width: 370px;

}






.temporada2 p{
    padding: 0px;

    /* margin-left: 13px; */
}

.temporada2 ul {

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
padding-inline: 22px;



}

.temporada2 img {
    margin: 3%;
    width: 370px;

}

